<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            width: 500px;
            line-height: 30px;
        }
        table tr{
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="app">
        <h2>商品信息管理</h2>
        <table border="1" cellspacing="0">
            <tr>
                <th>编号</th>
                <th>商品名</th>
                <th>价格</th>
                <th>数量</th>
                <th>删除</th>
            </tr>
            <tr v-for="(pro,i) in pros">
                <td v-for="value in pro">{{value}}</td>
                <td><a href="#" @click="del(i)">删除</a></td>
            </tr>
        </table>
        <br>
        请输入商品信息: <input type="text" name="pro" v-model="pro" value="pro">

        <button @click="add">添加商品</button>
        
    </div>

    <script src="../vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                pros:[],
                pro: ''
            },
            methods: {
                add() {
                    let arr = (this.pro).trim().split(' ');
                    
                    let f = false;//假设不存在相同的商品
                    let i = -1;//假设有相同时的下标
                    for(let k in this.pros){
                        if(this.pros[k][1] == arr[1]){
                            f = true;//假设错误,有相同
                            i = k
                            this.pros[k][3] = Number(this.pros[k][3])+Number(arr[3]);
                            // arr='';
                        }
                    }
                    // arr==''?this.pros:this.pros.push(arr);
                    if(f){
                        arr = this.pros.splice(i,1)[0];
                    }
                    this.pros.push(arr);
                },
                del(index){
                    this.pros.splice(index,1);
                }
                
            }
        })
    </script>
</body>

</html>